header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
    
        &:hover {
            color: #FA2759;
            font-weight: 500;
        }
    }

    nav {
        @media (max-width: 550px) {
            display: none;
        }
    }
}


.hamburger-btn {
    display: none;
    height: 26px;
    width: 32px;
    cursor: pointer;


    @media (max-width: 550px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    span {
        height: 4px;
        width: 100%;
        border-radius: 9px;
        background: white;
    }
}


.darkLinks {
    a {
        color: black;

        &:hover{
            color: rgba(0,0,0,0.8);;
        }
    }
}
