header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1600px) {
        height: 120px;
    }

    img {
        height: 50px;
        cursor: pointer;

        @media (min-width: 1600px) {
            height: 68px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
    
        &:hover {
            color: #FA2759;
            font-weight: 500;
        }

        @media (min-width: 1600px) {
            font-size: 24px;
        }
    }

    nav {
        @media (max-width: 550px) {
            display: none;
        }
    }
}


.hamburger-btn {
    display: none;
    height: 26px;
    width: 32px;
    cursor: pointer;


    @media (max-width: 550px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    span {
        height: 4px;
        width: 100%;
        border-radius: 9px;
        background: white;
    }
}


.darkLinks {
    a {
        color: black;

        &:hover{
            color: rgba(0,0,0,0.8);;
        }
    }
}

.darkLines {
    background: black !important;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 999;
    transition: transform 225ms ease-in-out;
    transform: translateX(100%);

    img {
        height: 32px;
        position: absolute;
        right: 24px;
        top: 24px;
        cursor: pointer;

        &:hover {
            transform: scale(1.15);
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;

        a {
            text-decoration: none;
            color: white;
            font-size: 32px;
            font-weight: bold;
        
            &:hover {
                transform: scale(1.15);
            }
        }

    }
}

.mobile-nav.active {
    transform: translateX(0%);
}

.mobile-nav.inactive {
    transform: translateX(100%);
}


.dark-mobile-nav {
    background-color: white !important;

    a {
        color: black !important;
    }
}

.slide-in-l {
    animation: slide-in-l 1.2s ease-in-out;
}

@keyframes slide-in-l {
    from {
        transform: translateX(-250%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in-r {
    animation: slide-in-r 1.2s ease-in-out;
}

@keyframes slide-in-r {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}