<header class="standard-padding-side">
    <img class="slide-in-l" *ngIf="!darkMode" routerLink="/" src="assets/img/logo_white.png">
    <img class="slide-in-l" *ngIf="darkMode" routerLink="/" src="assets/img/logo_black.png">

    <nav class="slide-in-r" [class.darkLinks]="darkMode">
        <a href="#skills">SKILLS</a>
        <a href="#work">PORTFOLIO</a>
        <a href="#about">ABOUT ME</a>
    </nav>

    <div class="slide-in-r" class="hamburger-btn" (click)="openMobileMenu()">
        <span [class.darkLines]="darkMode"></span>
        <span [class.darkLines]="darkMode"></span>
        <span [class.darkLines]="darkMode"></span>
    </div>
</header>

<div class="mobile-nav" [class.dark-mobile-nav]="darkMode" [ngClass]="{'inactive': !showMobile}" [ngClass]="{'active': showMobile}">
    <img *ngIf="!darkMode" (click)="closeMobileMenu()" src="assets/img/close-white.png">
    <img *ngIf="darkMode" (click)="closeMobileMenu()" src="assets/img/close-black.png">

    <nav>
        <a (click)="closeMobileMenu()" href="#skills">SKILLS</a>
        <a (click)="closeMobileMenu()" href="#work">PORTFOLIO</a>
        <a (click)="closeMobileMenu()" href="#about">ABOUT ME</a>
    </nav>
</div>
