.social-links {
    display: flex;
    gap: 90px;
    
    img {
        height: 40px;
        cursor: pointer;
        display: block;
    }

    @media (max-width: 800px) {
        gap: 32px;
    }
}

.legal-section {
    color: #8491A0;
    font-size: 18px;
    font-weight: 400;

    a {
        cursor: pointer;
        text-decoration: none;
        color: #8491A0;
    }
}