.profile-img {
    height: 441px;
    background-color: #2DFCD8;
    border-radius: 100%;

    @media (max-width: 1300px) {
        height: 380px;
    }

    @media (max-width: 1150px) {
        height: 320px;
    }
    
    @media (max-width: 1000px) {
        height: 280px;
    }
}

.above-the-fold-left {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;

    a {
        width: fit-content;
        font-size: 18px;
        color: #FA2759;
        background-color: transparent;
        border: 2px solid #FA2759;
        text-decoration: none;
        height: 78px;
        width: 300px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            background-color: #FA2759;
            left: 0;
            bottom: 0;
            transition: all 225ms;
            z-index:-1;
        }

        &:hover::before {
            height: 100%;
        }

        &:hover {
            color: white;
        }

        @media (max-width: 870px) {
            width: 100%;
        }
    }

    span {
        color: white;
        font-weight: 700;
        font-size: 68px;
        line-height: 80px;

        @media (max-width: 1300px) {
            font-size: 56px;
            line-height: 68px;
        }

        @media (max-width: 1150px) {
            font-size: 48px;
            line-height: 60px;
        }

        @media (max-width: 1000px) {
            font-size: 40px;
            line-height: 52px;
        }

        @media (max-width: 480px) {
            font-size: 36px;
            line-height: 48px;
        }

        @media (max-width: 440px) {
            font-size: 28px;
            line-height: 40px;
        }

        @media (max-width: 360px) {
            font-size: 28px;
            line-height: 40px;
        }

        @media (max-width: 360px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    @media (max-width: 870px) {
        gap: 40px;
    }
}

.pink-name {
    color: #FA2759 !important;
}

.blue-name {
    color: #2DFCD8 !important;
}

.move-down {
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: 54px;
    cursor: pointer;
    
    &:hover {
        bottom: 48px;
    }

    @media (max-width: 870px) {
        display: none;
    }
}

.fade-in {
    animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}