
<div>
    <h2 class="slide-in-element">Contact me.</h2>

    <div class="small-headline slide-in-element-low-op">
        Get in touch via the form below, or by emailing <a class="email-color" href="mailto:simon.besenbaeck@gmail.com">simon.besenbaeck@gmail.com</a>
    </div>

    <form class="slide-in-element" (submit)="sendMail()" ngNativeValidate #myForm>
        
        <label for="nameField">Name</label>
        <input required type="text" name="name" #nameField placeholder="Enter your name">
        
        <label for="emailField">Email adress</label>
        <input required type="email" name="email" #emailField placeholder="Enter your email adress">

        <label for="messageField">Message</label>
        <textarea required type="text" name="message" #messageField placeholder="Enter your message"></textarea>
        
        <div class="btn-ctn">
            <button *ngIf="!sendingEmail && !emailSent" #sendButton>Senden</button>

            <div *ngIf="sendingEmail" class="spinner-box">
                <div class="circle-box">
                    <div class="circle-core"></div>
                </div>
            </div>

            <span *ngIf="emailSent">Email sent successfully!</span>
        </div>


    </form>



</div>
