.profile-img {
    height: 210px;
    width: 210px !important;
    background-color: #2DFCD8;
    border-radius: 100%;
    object-fit: contain;
}

.upper-section {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 80px;
    opacity: 0;
    transform: translateY(100px);

    .upper-section-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(100% - 290px);

        h2 {
            margin-block-start: 0;
            margin-block-end: 32px;
        }

        span {
            color: white;
            text-align: center;
        }

        @media (max-width: 870px) {
            max-width: none;
        }
    }

    @media (max-width: 870px) {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.blue-line {
    color: #2DFCD8;
    width: 92%;
    height: 0;
    border: 1px solid #2DFCD8;
    margin-top: 64px;
    margin-bottom: 96px;
    opacity: 0;
    transform: translateY(100px);

    @media (max-width: 870px) {
        margin-bottom: 64px;
    }

}

.journey {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .journey-child {
        opacity: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        
        h3 {
            margin-block-start: 22px;
            margin-block-end: 12px;
        }

        span {
            font-size: 18px;
            font-weight: 400;
        }

        .image-ctn {
            width: 79px;
            height: 79px;
            background-color: #2DFCD8;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 20px;
            }
        }
    }

    @media (max-width: 870px) {
        flex-direction: column;
        gap: 24px
    }
}


.slide-in {
    animation: slideInUP 750ms ease-in-out 125ms forwards;
  }
  
  @keyframes slideInUP {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }