<div class="upper-section slide-in-element">
    <img class="profile-img" src="assets/img/profile2.png">
    <div class="upper-section-child">
        <h2>About me</h2>
        <span>“ Hello, my name is Simon Besenbäck and I am a front-end developer based in Austria. I have a passion for
            IT, software development, and IT security. I am always looking to learn new skills and improve myself as a
            developer.
            Aside from coding, I enjoy spending my free time outdoors, especially practicing sports like snowboarding
            and skiing. I believe that staying active and healthy is an important part of being a productive and
            creative developer. ”</span>
    </div>
</div>

<div class="blue-line slide-in-element"></div>

<div class="journey">
    <div class="journey-child slide-in-element">
        <div class="image-ctn">
            <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY JOURNEY BEGAN</h3>
        <span>during my business informatics bachelor at the WU Vienna, when I first came into contact with coding and
            got passionate about it right away.</span>
    </div>
    <div class="journey-child slide-in-element">
        <div class="image-ctn">
            <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY DETERMINATION STARTED</h3>
        <span>when i began to watch coding tutorials on YouTube and tried to develop my own applications to enhance the
            skills I learned at the university.</span>
    </div>
    <div class="journey-child slide-in-element">
        <div class="image-ctn">
            <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY PASSION FOR</h3>
        <span>front-end development arosed when i started the program at the Developer Akademie.</span>
    </div>
    <div class="journey-child slide-in-element">
        <div class="image-ctn">
            <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY GOALS ARE</h3>
        <span>to create engaging and user-friendly interfaces that provide the best experience for the end-user, and I
            constantly push my limits to become the best frontend developer I can be.</span>
    </div>
</div>