<div class="upper-section">
    <img src="assets/img/profile.png">
    <div class="upper-section-child">
        <h2>About me</h2>
        <span>“ My name is Simon Besenbäck and I´m a front-end developer based in Austria. I love learning new skills and getting a better version of myself. ”</span>
    </div>
</div>

<div class="blue-line"></div>

<div class="journey">
    <div class="journey-child">
        <div class="image-ctn"> <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY JOURNEY BEGAN</h3>
        <span>during my business informatics bachelor at the WU Vienna, when i first came into contact with coding and got passionate about it right away.</span>
    </div>
    <div class="journey-child">
        <div class="image-ctn"> <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY DETERMINATION STARTED</h3>
        <span>when i began to watch coding tutorials on YouTube and tried to develop my own applications to enhance the skills I learned at the university.</span>
    </div>
    <div class="journey-child">
        <div class="image-ctn"> <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY JOURNEY BEGAN</h3>
        <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
    </div>
    <div class="journey-child">
        <div class="image-ctn"> <!--in a container because easier to have different images sizes but still the circles are same size-->
            <img src="assets/img/walking.png">
        </div>
        <h3>MY JOURNEY BEGAN</h3>
        <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
    </div>
</div>