<h2 class="slide-in-element">My Work</h2>

<div class="btn-section slide-in-element">
    <button [ngClass]="{'btn-selected' : all}" (click)="filterProjects('all')">All</button>
    <button [ngClass]="{'btn-selected' : angular}" (click)="filterProjects('angular')">Angular</button>
    <button [ngClass]="{'btn-selected' : js}" (click)="filterProjects('js')">JavaScript</button>
</div>


<div class="portfolio">
    
    <!--Join-->
    <div *ngIf="all || js" [ngClass]="{'slide-in': (all || js) && firstSeen}" id="joinImage" class="portfolio-child slide-in-element">
        <div class="portfolio-hover">
            <div>
                <h3>JOIN</h3>
                <span>JavaScript based Kanban Board (Group Project)</span>
            </div>
            <div class="portfolio-btns">
                <a href="https://simon-besenbaeck.developerakademie.net/join/" target="_blank">Try Out</a>
                <a href="https://github.com/simon-1337/join" target="_blank">Github</a>
            </div>
        </div>
        <img src="assets/img/join.jpg">
    </div>

    <!--El Pollo Loco-->
    <div *ngIf="all || js" [ngClass]="{'slide-in': (all || js) && firstSeen}" class="portfolio-child slide-in-element">
        <div class="portfolio-hover">
            <div>
                <h3>EL POLLO LOCO</h3>
                <span>JavaScript based Jump ’n’ Run game</span>
            </div>
            <div class="portfolio-btns">
                <a href="https://simon-besenbaeck.developerakademie.net/el_pollo_loco/" target="_blank">Try Out</a>
                <a href="https://github.com/simon-1337/el_pollo_loco" target="_blank">Github</a>
            </div>
        </div>
        <img src="assets/img/epl.jpg">
    </div>

    <!--Porfolio-->
    <div *ngIf="all || angular" [ngClass]="{'slide-in': (all || angular) && firstSeen}" class="portfolio-child slide-in-element">
        <div class="portfolio-hover">
            <div>
                <h3>PORTFOLIO</h3>
                <span>Angular based personal webpage</span>
            </div>
            <div class="portfolio-btns">
                <a href="#" target="_blank">Try Out</a>
                <a href="https://github.com/simon-1337/portfolio" target="_blank">Github</a>
            </div>
        </div>
        <img src="assets/img/portfolio.jpg">
    </div>

    <!--Angular Project 2-->
    <div *ngIf="all || angular" [ngClass]="{'slide-in': (all || angular) && firstSeen}" class="portfolio-child slide-in-element">
        <div class="portfolio-hover">
            <div>
                <h3>RING OF FIRE</h3>
                <span>Angular based multiplayer card game</span>
            </div>
            <div class="portfolio-btns">
                <a href="https://simon-besenbaeck.developerakademie.net/ringoffire/" target="_blank">Try Out</a>
                <a href="https://github.com/simon-1337/ring-of-fire" target="_blank">Github</a>
            </div>
        </div>
        <img src="assets/img/rof.jpg">
    </div>
    
</div>
