<app-above-the-fold class="dark-background standard-padding-side"></app-above-the-fold>
<app-skills id="skills" class="grey-background standard-padding-side standard-padding-bottom standard-padding-bottom"></app-skills>
<app-work id="work" class="dark-background standard-padding-side standard-padding-bottom"></app-work>
<app-about id="about" class="grey-background  standard-padding-side standard-padding-bottom"></app-about>
<app-contact-form id="contact" class="dark-background standard-padding-side"></app-contact-form>
