app-above-the-fold {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 870px) {
        flex-direction: column-reverse;
        padding-top: 100px;
        justify-content: flex-end;
        height: auto;
        padding-bottom: 48px;
    }
}

app-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

app-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 645px;
}

app-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

