app-above-the-fold {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

app-skills {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}