app-footer {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.container {
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    min-height: calc(100vh - 320px);
}