* {
    font-family: Inter, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


.dark-background {
    background-color: #000000;
}

.grey-background {
    background-color: #131111;

    @media (max-width: 870px) {
        background-color: #000000;
    }
}

.standard-padding-side {
    padding-left: 120px;
    padding-right: 120px;

    @media (min-width: 1600px) {
        padding-left: 164px;
        padding-right: 164px;
    }

    @media (max-width: 1220px) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (max-width: 710px) {
        padding-left: 40px;
        padding-right: 40px;
    }


    @media (max-width: 600px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 400px) {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.standard-padding-bottom {
    padding-bottom: 138px;

    @media (max-width: 870px) {
        padding-bottom: 40px;
    }
}

h2 {
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-block-start: 48px;
    margin-block-end: 48px;
}
