* {
    font-family: Inter, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


.dark-background {
    background-color: #000000;
}

.grey-background {
    background-color: #131111;
}

.standard-padding {
    padding-left: 120px;
    padding-right: 120px;
}

h2 {
    color: white;
    font-size: 36px;
    font-weight: 500;
    margin-block-start: 36px;
    margin-block-end: 36px;
}
