* {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}

app-above-the-fold {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-background {
    background-color: #000000;
}

.grey-background {
    background-color: #131111;
}


